@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

HTML {
  height: 500vh;
}

/* inicio header */

header {
  width: 100%;
  padding: 60px 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1s;
}

header.rolagem {
  background-color: white;
  padding: 20px 4%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}


.container1 {
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: 111px;
  max-width: 1280px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.logo_text {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 12%;
  margin-left: 25px;
  color: black;
  padding: 10px;
}

.navegacao {
  display: flex;
  margin-top: 0%;
}

#text_nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 30px;
  color: black;
}

.navegacao {
  gap: 30px;
}

.icones {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-right: 40px;
  color: white;
}

#video {
  width: 100%;

}

.barra {
  width: 100%;
  height: 45px;
  background-color: black;
  margin-top: -6px; 
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.text-barra {
  color: white;
  flex: row;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.articulacao1{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 80px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.container2{
  width: 100%;
  height: 700px;
  margin-top: 100px;
  margin-bottom: 0px;
}
.swiper {
  width: 900px;
  height: 230px;
}
#img-slide{
  width: 100px;
  height: 150px; 
  margin-left: 30px; 
}
.x2{
  margin-left: 0px;
}
/*frame botao do carrossel*/
    /* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}


/*frame botao do carrossel*/
.botoes{
  display: flex;
  gap: 40px;
  margin: 0px 40px 0px 150px;
}
.button {
  width: 200px;
  height: 50px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 11px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: transparent;
  cursor: pointer;
  transition: all .6s ease;
  
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2), 0px 6px 6px rgba(0,0,0,0.19);
}
.bloco1{
  margin-left: 20px;
}


.container3 {
  margin-top: -20%;
  margin-bottom: 15%;
  display: flex;
}

.propiedades {
  margin-left: 80px;
}

/*Frame botoes inicio*/

.botoes{
  display: flex;
  gap: 40px;
  margin: 0px 40px 0px 150px;
}
.button {
  width: 200px;
  height: 50px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 11px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: transparent;
  cursor: pointer;
  transition: all .6s ease;
  
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2), 0px 6px 6px rgba(0,0,0,0.19);
}

/* Fim do frame botoes*/

.container4 {
  margin-bottom: 150px;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10%;
}


.p3_container4 {
  margin-right: 100px;
}


.container5 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}
.articulacao2{
  width: 100%;
  margin-top: 10%;
}
.bloco1-articulacao2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}
.bloco2-articulacao2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.img-art2{
  width: 400px;
  height: 459px;
}

.container6 {
  width: 100%;
  height: 200px;
  margin-top: 15%;
  display: flex;
  gap: 50px;
  background-color:#F2F2F2;
  
 
}
.bloco1-conteiner6{
  margin-left: 60px;
  margin-top: 5%;
}
.bloco1-conteiner6 .bloquinho2-c6 h3 p{
  font-family: "Nunito", serif;
}
.bloco2-container6{
  display: flex;
  gap: 30px;
  margin-top: 5%;
}

.button {
  width: 200px;
  height: 50px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 11px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: transparent;
  cursor: pointer;
  transition: all .6s ease;
  
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2), 0px 6px 6px rgba(0,0,0,0.19);
}

.container7{
  width: 100%;
  height: 70%;
  margin-top: 20%;
  
}

#img-container7{
  width: 1200px;
  height: 300px;
  margin-left: 80px;
  
}
.container7{
  width: 100%;
  height: 20%;
}
.img-container7{
  height: 250px;
}

.articulacao3{
  margin-top: 90px;
  text-align: center;
}

.container8{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:80px;
  margin-top: 10%;
  margin-bottom: 100px;
  
}
.imagem-container8 img {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;  
  border: none;  
  background-color: #F2F2F2;
}


.imagem-container8 img:hover {
  transform: scale(1.1);  /*Aqui, ele vai aumentar mais um pouco, a imagem*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

footer{
  width: 100%;
  height: 100vh;
}

.conatiner1-footer{
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #A6A6A6;
}
.logomarca{
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.container2-footer{
  width: 100%;
  height: 600px;
  display: flex;
  background-color: #F2F2F2;
}

.caixote-um{
  width: 70%;
  height: 400px;
  display: flex;
  gap: 20px;
}
.setor1{
  margin-left: 120px;
  margin-top: 100px;
}
.rua-dois-setor1{
  margin-top: 100px;
}

.setor2{
  padding: 10px;
  margin-top: 100px;
  margin-left: 120px;
}

.setor3{
  padding: 10px;
  margin-top: 100px;
  margin-left: 120px; 
}

.caixote2{
  width: 300px;
  height: 500px;
}
.setor4{
  display: flex;
  gap: 40px;
  margin-top: 100px;
}
.setor5{
  margin-top: 90px;
}
#qr-code{
  width: 300px;
  height: 300px;
}

